
*{
    margin: 0;
 }
.main{
    height:150px;
    width:100%;
   /*background-color: rgb(75, 42, 165);*/

}
/*.one{

    height:300px;
    width:47%;
    background-color: rgb(128, 165, 42);
    float: left;
    margin-top:30px;
    margin-left: 20px;
}
.one1{
    height:300px;
    width:47%;
    background-color: rgb(42, 165, 144);
    float: left;
    margin-top:30px;
    margin-left: 20px;
}

these .one and.one1 are used to create box of equal margin and top */

.first{
    height:50px;
    width:100%;
    background-color: red;
    float: left;
}
.left{
    height:50px;
    width:60%;
  /*  background-color: rgb(165, 42, 83);*/
    float: left;
    margin-left: 4%;
}
.right{
    height:50px;
    width:20%;
   /*background-color: rgb(42, 165, 89);*/
    float: right;
    margin-right: 4%;
}
.left p{
    display: inline-flex;
    padding-top: 20px;
    padding-left: 15px;
    color: white;
 }


 .header{
    height: 100px;
    width: 100%;
    /* background-color: black; */
    float: left;
 }


 .logo{
     height: 100px;
     width: 30%;
     /* background-color: brown; */
     float: left;
 }

 .navbar{
    height: 100px;
    width: 70%;
    /* background-color: grey; */
    float: left;
 }

 .logo img{
    height: 78px;
    float: right;
    margin-top: 10px;
 }


 .navbar ul li {
    list-style: none;
    display: inline-flex;
    font-size: 21px;
    padding-top: 4%;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#hom{
    color: red;
}


.about1{
    border-left: 1px solid rgb(221, 214, 214);
    padding: 10px ;
}
.right i{
    padding-top: 15px;
    padding-left: 15px;
}
.num:hover{
    color:black;
    text-decoration:underline;
}
.drop{
   position:relative;
       display:inline-block;
}
.drop-content{
    display:none;
    position:absolute;
  color: white;
    width: 200px;
  
   
}
.drop:hover .drop-content{
    display: block;
}
.mm{
    height: 40px;
    width: 100%;
    background-color: blue;
    float: left;
    margin-top: 20%;
    border-bottom: 1px solid;
}
.mm1{
    height: 40px;
    width: 100%;
    background-color: blue;
    float: left;
    border-bottom: 1px solid;
}
.mm:hover{
    background-color: brown;
}
.mm1:hover{
    background-color: brown;
}
.mm:hover p{
    color:black;
}
.mm1:hover p{
    color:black;
}
.mm p{
    padding: 12px 16px;
}
.mm1 p{
    padding: 12px 16px;
}

/*for admission*/
.tapping{
    position: relative;
    display: inline-block;
    
}
.tapping-options{
    display: none;
    position:absolute;
    color: white;
      width: 200px;
}
.tapping:hover .tapping-options{
    display:block;
}

.ee{
    height: 40px;
    width: 100%;
    background-color: blue;
    float:left;
    margin-top: 21%;
    border-bottom: 1px solid;

}
.ee1{
    height: 40px;
    width: 100%;
    background-color: blue;
    float:left;
  
    border-bottom: 1px solid;

}
.ee2{
    height: 50px;
    width: 100%;
    background-color: blue;
    float:left;
  
    border-bottom: 1px solid;

}

.ee:hover{
    background-color: brown;
}
.ee1:hover{
    background-color: brown;
}
.ee2:hover{
    background-color: brown;
}
.ee:hover p{
    color: black;
}
.ee1:hover p{
    color: black;
}
.ee2:hover p{
    color: black;
}


.ee p{
    padding: 12px 16px;
}
.ee1 p{
padding: 12px 16px;
}
.ee2 p{
    padding: 12px 16px;
}
.content{
    height:450px;
    width: 100%;
    background-color: blue;
    float: left;
}
.immg{
    height:450px; 
}
.back{
    height:auto;
    width: 100%;
    background-color:antiquewhite;
    float: left;
}
.image2{
height: 400px ;
width: 40%;
background-color: rgb(220, 19, 42);
float: left;
margin-top: 6%;
margin-left: 5%;
margin-right: 3%;
}
.paragraph1{
    height: 750px;
    width: 50%;
    background-color: brown;
    float:left;
}
.heading{
    height:100px;
  background-color: white;
    width: 70%;
    color: blue;
    float: left;
    margin-top: 3%;
margin-left: 8%;
margin-right: 3%;
}
.heading2{
    height:70px;
  background-color: white;
    width: 70%;
    color: blue;
    float: left;
    margin-top: 3%;
margin-left: 8%;
margin-right: 3%;
}
.para-content{
float: left;
margin-top: 3%;
margin-left: 8%;
margin-right: 3%;

}
.icons{
    height: 300px;
    width: 100%;
   float: left;  
  
    background-color:white;   

}
.firsticon{
    height: 300px;
    width: 24%;
   background-color: aqua;
    float: left;
    margin-top: 30px;
    margin-left: 2%;
  
}
.secondicon{
    height: 300px;
    width: 24%;
    background-color: rgb(163, 244, 49);
    float: left;
    margin-top: 30px;
}
.thirdicon{
    height: 300px;
    width: 24%;
    background-color: aqua;
    float: left;
    margin-top: 30px;
}
.fourthicon{
    height: 300px;
    width: 24%;
    background-color: rgb(173, 231, 27);
    float: left;
    margin-top: 30px;
    margin-right: 2%;

}
.iconimg{
    float: left;
    margin-top:70px;
    margin-left: 90px;
}

.iconimg p{
    margin-top: 40px;
    margin-left: 10%;
    
}
.iconimg3{
    float: left;
    margin-top:70px;
    margin-left: 90px;
}

.iconimg3 p{

    margin-top: 40px;
  margin-right: 10%;
    
}
.iconimg4{
    float: left;
    margin-top:70px;
    margin-left: 90px;
}

.iconimg4 p{
    margin-top: 40px;
  
    
}




